<section id="main-sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb brd-crumb">
					  <li><a href="<%=root_url%>">Home</a></li>
					  <li class="active">Become Our Partner</li>
					</ol>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<div class="title-pageheading1">
						<div class="about-border"></div>						
						<div class="page-title-text">
							<span class="page-title-bg">Become Our Partner</span>
						</div>
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 para-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum 
					dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
					deserunt mollit anim id est laborum.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum 
					dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
					deserunt mollit anim id est laborum.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum 
					dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
					deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</section><!--/slider-->