<section id="main-sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb brd-crumb">
					  <li><a href="<%=root_url%>">Home</a></li>
					  <li class="active">Become Partner</li>
					</ol>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<div class="title-pageheading1">
						<div class="about-border"></div>						
						<div class="page-title-text">
							<span class="page-title-bg">The TripShelf Advantage</span>
						</div>
					</div>
					
				</div>
			</div>
			<div class="row">
				
					<div class="title-head marg">
						Every consumer's one stop shop for viewing tour packages across a host of providers in all parts of the country!
					</div>
				
			</div>
		<div class="row"> 
		<div class="tripshelf-row col-md-12">	
			<div class="adv-row clearfix">
				<div class="paragraph-one">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="title-1">
							Complete Listings
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">	
						Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies habitant ipsum elit ultrices lorem 
						diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean mattis senectus mollis luctus ornare et at feugiat a 
						habitasse hendrerit justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius
						vulputate ultricies habitant ipsum elit ultrices lorem diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean
						mattis senectus mollis luctus ornare et at feugiat a habitasse hendrerit justo mollis penatibus cras blandit.
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12">	
							<img class="img-right" src="/assets/icon1.png">
					</div>
				</div>
			</div>
			<div class="adv-row clearfix">
				<div class="paragraph-two">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="title-1">
							Promotional Offers
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">	
						Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies habitant ipsum elit ultrices lorem 
						diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean mattis senectus mollis luctus ornare et at feugiat a 
						habitasse hendrerit justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius
						vulputate ultricies habitant ipsum elit ultrices lorem diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean
						mattis senectus mollis luctus ornare et at feugiat a habitasse hendrerit justo mollis penatibus cras blandit.

						
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12">
						<img class="img-right" src="/assets/hand-icon.png">
					</div>
				</div>
			</div>
			<div class="adv-row clearfix">
				<div class="paragraph-two">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="title-1">
							Outreach!
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">	
						Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies habitant ipsum elit ultrices lorem 
						diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean mattis senectus mollis luctus ornare et at feugiat a 
						habitasse hendrerit justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius
						vulputate ultricies habitant ipsum elit ultrices lorem diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean
						mattis senectus mollis luctus ornare et at feugiat a habitasse hendrerit justo mollis penatibus cras blandit.

						
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12">	
						<img class="img-right" src="/assets/search-icon.png">
					</div>
				</div>
			</div>
		</div>	
		</div>
			<div class="row"> 
				<div class="col-md-10 col-md-push-1">	
					<div class="title-head">
						<h3>List Your Tour Packages Now!</h3>
					</div>
				Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies habitant ipsum elit ultrices 
				lorem diam orc Sodales laoreet mattis ut in nullam consequat turpis mus aenean mattis senectus mollis luctus ornare et 
				at feugiat a habitasse hendrerit justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi 
				lacinia mattis varius vulputate ultricies habitant ipsum 
				<div class="tour-section">
					 <a class="btn red-default" href="">Sign Up Now</a> 
				</div>
				</div>

			</div>

		</div>
	</section>
