	<!--page start here-->
	<section id="main-sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb brd-crumb">
					  <li><a href="#">Home</a></li>
					  <li class="active">Our Partner</li>
					</ol>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<div class="inner-sec">
						<div class="title-line">
							Our Partner
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="data-sec clearfix">
						<div class="col-sm-10 col-md-10 col-xs-12">
							<div class="red-head">Make My Trip</div>
							<p>Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies 
							habitant ipsum elit ultrices lorem diam orcSodales laoreet mattis ut in nullam consequat 
							turpis mus aenean mattis senectus mollis luctus ornare et at feugiat a habitasse hendrerit
							justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi lacinia</p> 
						</div>
						<div class="col-sm-2 col-md-2 col-xs-12">
							<div class="img-sec">
								<img src="/assets/MMT-logo.png" alt=""/>
							</div>
						</div>	
					</div>
					<div class="data-sec clearfix">
						<div class="col-sm-10 col-md-10 col-xs-12">
							<div class="red-head">Expedia</div>
								<p>Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies 
							habitant ipsum elit ultrices lorem diam orcSodales laoreet mattis ut in nullam consequat 
							turpis mus aenean mattis senectus mollis luctus ornare et at feugiat a habitasse hendrerit
							justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi lacinia</p> 
						</div>
						<div class="col-sm-2 col-md-2 col-xs-12">
							<div class="img-sec">
								<img src="/assets/expedia.png" alt=""/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>