<!--start here-->
	<section id="main-sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb brd-crumb">
					  <li><a href="<%=root_path%>">Home</a></li>
					  <li class="active">Team</li>
					</ol>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">	
					<div class="title-pageheading">
						<div class="about-border">
							
						</div>
						
						<div class="page-title-text">
							<span class="page-title-bg">Team</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span class="team-head">Penatibus cras blandit proin euismod nostra dignissim.</span>
					<p class="para-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
					ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum 
					dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
					deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="row">
				<div class="team-sec clearfix">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="profile-sec">
							<div class="profile-img">
								<img src="/assets/amaze_300x300.jpg" class="img-circle" alt=""/>
								<div class="name-text">John Doe</div>
								<div>Member Since May 2012</div>
								<div class="team-text">
									Sodales laoreet mattis ut in nullam consequat turpis mus aenean mattis 
									senectus mollis luctus ornare et at 
									feugiat a habitasse hendrerit justo 
									mollis penatibus cras blandit proin euismod nostra dignissim
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="profile-sec">
							<div class="profile-img">
								<img src="/assets/amaze_300x300.jpg" class="img-circle" alt=""/>
								<div class="name-text">John Doe</div>
								<div>Member Since May 2012</div>
								<div class="team-text">
									Sodales laoreet mattis ut in nullam consequat turpis mus aenean mattis 
									senectus mollis luctus ornare et at 
									feugiat a habitasse hendrerit justo 
									mollis penatibus cras blandit proin euismod nostra dignissim
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="profile-sec">
							<div class="profile-img">
								<img src="/assets/amaze_300x300.jpg" class="img-circle" alt=""/>
								<div class="name-text">John Doe</div>
								<div>Member Since May 2012</div>
								<div class="team-text">
									Sodales laoreet mattis ut in nullam consequat turpis mus aenean mattis 
									senectus mollis luctus ornare et at 
									feugiat a habitasse hendrerit justo 
									mollis penatibus cras blandit proin euismod nostra dignissim
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="profile-sec">
							<div class="profile-img">
								<img src="/assets/amaze_300x300.jpg" class="img-circle" alt=""/>
								<div class="name-text">John Doe</div>
								<div>Member Since May 2012</div>
								<div class="team-text">
									Sodales laoreet mattis ut in nullam consequat turpis mus aenean mattis 
									senectus mollis luctus ornare et at 
									feugiat a habitasse hendrerit justo 
									mollis penatibus cras blandit proin euismod nostra dignissim
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
		</div>
	</section><!--ends here-->