<!--page start here-->
	<section id="main-sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb brd-crumb">
					  <li><a href="<%=root_path%>">Home</a></li>
					  <li class="active">Website</li>
					</ol>	
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">	
					<div class="title-pageheading">
						<div class="about-border"></div>						
						<div class="page-title-text">
							<span class="page-title-bg">Website</span>
						</div>
					</div>					
				</div>
			</div>
			<div class="row">
					<div class="col-sm-10 col-md-10 col-xs-12 paragraph-txt">	
						Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius vulputate ultricies habitant ipsum elit ultrices lorem 
						diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean mattis senectus mollis luctus ornare et at feugiat a 
						habitasse hendrerit justo mollis penatibus cras blandit.Morbi sit mattis at ligula himenaeos ante morbi lacinia mattis varius
						vulputate ultricies habitant ipsum elit ultrices lorem diam orcSodales laoreet mattis ut in nullam consequat turpis mus aenean
						mattis senectus mollis luctus ornare et at feugiat a habitasse hendrerit justo mollis penatibus cras blandit.
					</div>
					<div class="col-sm-2 col-md-2 col-xs-12 paragraph-txt img-right">	
						<img src="/assets/website.png">
					</div>

			</div>
		</div>
	</section>
	<!--page ends here-->